---
layout: default
---

<section class="intro">

	<div class="wrap">

		<h1>{{ page.title }}</h1>
		<p>{{ page.subtitle }}</p>

	</div>

</section>

<section class="single">

	<p class="wrap">

		{{ page.content }}
		
		<hr/>
		<p>{{ page.date | date: "%B %Y" }}</p>
		<p><small>
		{% comment %}
		Keeping this code snippet for when I want to add tags to the site. // TODO: add tags.
		{% for tag in page.tags %}<a href="/tag/{{ tag }}/">{{ tag }}</a>{% if forloop.last != true %}, {% endif %}{% endfor %}
		{% endcomment %}
		{% for tag in page.tags %}{{ tag }}{% if forloop.last != true %}, {% endif %}{% endfor %}
		</small></p>

	</div>

</section>
